
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Header Section Styles */
*{
    margin: 0;
    padding: 0;
}
/* Shared Styles */


/* Navbar Styles */

nav{
    width: 100%;
    min-height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
}
.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 240px;
    
}
.logo-container img{
    width: 86px;
    height: 40px;
    margin-right: 20px;
}

.logo-container h2{
    color: #FF42A5;
    font-size: 45px;
    font-family: Work Sans;
    font-weight: 700;
}

.logo-container .gamer-text{
    color: #0B0223;
}

.item-container{
    border: 1px solid or;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container ul{
    display: flex;
    list-style: none;
    margin-left: 200px;
    align-items: center;
}
.item-container ul> li> a{
    margin-right: 32px;
    color: #3C354F;
    font-family: Work Sans;
    font-weight: 500;
    text-decoration: none;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

.follow-us-text{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    color: #3C354F;
}


/* Banner Section Styles */

.banner-container{
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}


.banner-text-container{
    text-align: left;
    padding-top: 148px;
}

#banner-play-text{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
}
#goat-text{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    padding-bottom: 24px;
}
.shared-para{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 17px;
}
#signin{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: none;
}
#gorouge{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: none;
}
.btn-container{
    padding-top: 40px;
}
.btn{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

/* online section styles */

.online-section h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    padding-top: 120px;
}
.online-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
}
.online-img-container{
    display: flex;
    margin: 48px 240px;
    height: 400px;
    width: 342px;
}
.online-img-container div{
    padding-right: 24px;
}
/* Play section styles */

.play-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px ;
}

.play-text-container{
    width: 400px;
}
.play-text-container h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.play-text-container p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-section-img{
    position: relative;
}
.relative-img{
    position: absolute;
    left: -140px;
    top: 400px;
}

/* category section styles */

.category-container{
    margin-top: 120px;
}
.category-container{
    display: flex;
    align-items: center;
}

.category-container div> p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-category{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.category-section{
    max-width: 1200px;
    margin: 0 auto;
}

.main-category div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 50px;
    background: #FFF;
}

.main-category div:hover{
    border: 2px solid purple;
}








